@import "http://fonts.googleapis.com/css?family=Exo+2:300%7CMontserrat:400,700%7CQuestrial:400,800";

body {
  background-image:url(http://i.imgur.com/qiG7WlG.jpg);
}

label, button,input, textarea, p, input + span {
  font-family:'Oswald', Arial, Sans-serif;
  font-size:15px;
}


#titulo{
  font-family:'Oswald', Arial, Sans-serif;
  font-size:15px;
  text-align:center;
  width:902px;
  color: white;
  border-top:1px solid #CCC;
  border-left:1px solid #CCC;
  border-right:1px solid #CCC;
  margin:2em auto;
  padding:1em;
  background:rgba(111, 110, 109, 1);
  margin:auto;
  margin-top:1em;
}
#page {
  text-align:center;
  width:900px;
  border-bottom:1px solid #CCC;
  border-left:1px solid #CCC;
  border-right:1px solid #CCC;
  margin:2em auto;
  margin-top:-2em;
  margin-bottom: 2em;
  padding:1em;
  background:rgba(111, 110, 109, 1);
}

span , p{
  color:white;
  display: inline-block;
  margin:auto;

}



button,input {
  display:block;
  padding:8px;
  margin:10px;
  width:200px;
}

input[type="radio"] {
  width:auto;
}

#botones button {

  width:100px;
}

a {
  color:black;
  text-decoration: underline;
}

input[type="checkbox"], input[type="radio"] {
  display:inline-block;
}

input:read-only {
  background:#DDD;
  color:#444;
}

input:focus {
  outline:0;
}

input {
  border:2px solid grey;
}

input:invalid {
  border:2px solid red;
}


input:valid {
  border:2px solid green;
}




button:hover[type="submit"], button:hover[type="reset"] {
  background:#222;
  color:#CCC;
  cursor:pointer;
  border-color:#888;
  transition:all 0.5s ease;
}
