body {
  background-image: url("images/login.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

form {
  margin: 0;
  padding: 25px;
  max-width: 450px;
  min-width: 300px;
  max-height: 450px;
  position: relative;
  left: 150px;
  margin-top: 150px;
  background-color: rgba(49, 36, 80, 0.75);
  border-radius: 15px;
  font-size: 20px;
  margin-bottom: 150px;
}

input {
  font-size: 16px;
}

input[type="submit"] {
  width: 100%;
}

@media screen and (max-width: 740px) and (min-width: 480px) {

  form {
    max-width: 60%;
    left: 20%;
  }

}

@media screen and (max-width: 480px) {

  form {
    max-width: 75%;
    left: 10%;
  }

}
