@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

h1 {
	font-family: sans-serif;
	text-align: center;
	color: #4f4f4f;
}

h4 {
	font-family: "Helvetica Neue";
	text-align: left;
	line-height: 0.5;
	color: #4f4f4f;
}

p {
	margin: 
	font-family: "Open sans";
	font-size: 14px;
	line-height: 1.5;
	color: #6e6e6e
}