@import url(https://fonts.googleapis.com/css?family=Lobster|Oswald:700|Amaranth:700italic,400italic);

body {
  background-color: #888;
}

#m .btn {
  display:inline-block;
  font-size:30px;
  height:100%;
  text-align:center;
  position:relative;
  width:170px;
}

#m .btn:nth-child(2) {
  width:250px;
}

#m .btn:nth-child(3) {
  width:275px;
}

#m .btn:nth-child(4) {
  width:160px;
}

#m {
  display:inline-block;
  width:100%;
  padding:0;
  margin:0;
}

#centrado {
  diplay:block;
  margin:0 auto;
  max-width:855px;
}

.btn:hover > button {
  font-weight:bold;
  text-shadow: 1px 1px 2px grey;
  background-position: top;
  background-size: 100% 85%;
}

#m > .btn:hover ul {
	display: block;
}

.btn > button {
  font-family: 'Lobster', cursive;
  display:block;
  padding:8px 15px;
  font-weight:normal;
  background:none;
  border:none;
  font-size:30px;
  outline:0;
  margin:0 auto;
  height: 50px;
  background-image: url("http://i.imgsafe.org/ff5380b.png");
  background-repeat: repeat-x;
  background-size: contain;
  background-position: bottom;
}

#cabecera {
  display:block;
  position: absolute;
  left:0;
  top:0;
  height:50px;
  width:100%;
  background-image: url("http://i.imgsafe.org/ff5380b.png");
  background-repeat: repeat-x;
  background-size: contain;
}

.desp {
  position:absolute;
  top:100%;
  left:0;
  z-index: 20;
  display:none;
  list-style:none;
  text-align:center;
  width:250px;
  padding: 10px 0;
  background: linear-gradient(to bottom, rgba(135,14,0,1) 0%, rgba(135,14,0,1) 80%, rgba(41,9,6,1) 100%);
  border-top-color: #c79b2b;
  border-top-style:solid;
  border-top-width: 1px;
  border-bottom-right-radius:15px;
  border-bottom-left-radius:15px;
  font-weight:normal;
  text-shadow: 0px 0px 0px black;
}

.desp li {
  margin:0 20px;
  margin-top: 5px;
  border-bottom: 2px solid #450000;
  padding-bottom: 5px;
}

.desp li:first-child {
  margin-top: 0;
}

.desp li:last-child {
  border: none;
  margin-bottom: 10px;
}

.desp button {
  background:none;
  border:none;
  font-family: 'Lobster', cursive;
  font-size:20px;
  font-weight:normal;
  outline:0;
}

.desp button:hover {
  font-weight:bold;
  text-shadow: 1px 1px 2px grey;
}

.pagint {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  z-index: -50;
}

.dega {
  background:blue;
  height:50px;
  width:100%;
}

#imf {
  background-color: #3d3d3d;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 500px;
}

#mostimg {
  width: 640px;
  height: 397px;
  border-color: rgba(226,226,226,.4);
  border-width: 5px;
  border-style: inset;
  border-style: ridge;
  position: relative;
  margin:0 auto;
  margin-top: 40px;
  overflow: hidden;
}

#mostimg div:first-child {
  text-align: center;
  position: relative;
  color: white;
  letter-spacing: 1.2px;
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  font-style: italic;
  background-color: #4e0505;
}

#box1 {
  position: absolute;
  bottom: 0;
}

#box1 img {
  width: 640px;
  height: 360px;
}

#box1 span {
  display: block;
  float: left;
}

#mostimg img:nth-child(1) {
  height: 370px;
  bottom: -10px;
  position: relative;
}

#juegos {
  opacity: 0;
}

.tabla {
    width: 100%;
    display: block;
    position: absolute;
    top: 550px;
    background-color: #888;
}

.or, .cu {
  margin: auto;
  text-align: center;
  max-width: 800px;
}

.cu {
  height: auto;
  position: relative;
}

.or {
  border-bottom: 2px solid black;
  font-size: 20px;
  font-family: 'Lobster', cursive;
}

.or div, .or li {
  display: inline-block;
}

.or div li {
  margin-left: 10px;
  margin-right: 50px;
}

.or > li {
  width:65%;
}

.or > div {
  width: 34.4%;
}

.ti {
  text-align: center;
  font-size: 30px;
  font-family: 'Amaranth', sans-serif;
  font-style: italic;
  text-shadow: 2px 2px 5px black;
  padding-top: 1px;
  *background: linear-gradient(to bottom, #3d3d3d 0%, #888 100%);
}

.jd {
  width: 65%;
  height: 600px;
  position: absolute;
  left:0;
}

.bl, .pl, .nl {
  margin-top: 30px;
  width: 100%;
  height: 150px;
  position: relative;
  border: 3px ridge lightgrey;
  background-color: #bfbfbf;
}

.bl {
  border-right: none;
}

.pl {
  border-left: none;
}

.bl img, .bl div {
  display: inline-block;
  height: 150px;
}

.bl img {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 40%;
  height: 140px;
}

.bl div {
  position: absolute;
  right: 0;
  width: 60%;
  margin: auto 0;
  text-align: center;
  vertical-align: middle;
  padding: 0 0px;
}

.bl div p {
  margin: 0 20px;
  margin-top: 25px;
  font-size: 20px;
  text-align: left;
}

.pr {
  width: 15%;
  position: absolute;
  left: 65%;
}

.jd, .pr, .nr {
  display: inline-block;
}

.pl > div {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
}

.pl p {
  margin-top: 6px;
  font-weight: bold;
  font-size: 20px;
}

.pl strong {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}

.x {
  color: red;
}

.pl img {
  width: 50px;
  height: 50px;
}

.pl > div:first-child {
  background-image: url("http://pea.upsjb.edu.pe/Imagenes/barra-diagonalPEA.png");
  width: 35px;
  height: 35px;
  background-size: cover;
  z-index: 1;
  top: 35px;
  left: 35px;
}

.nr {
  width: 20%;
  position: absolute;
  left: 80%;
}

.nl {
  border-left: none;
  position: relative;
}

.sg, .sa {
  top: 40px;
  display: inline-block;
  width: 28px;
  height: 28px;
}

.sg {
  background-image: url("http://www.camaragipuzkoa.com/images/999_plantillas_boletin/estrella.gif");
  background-size: 100% 100%;
  position: absolute;
}

.nl div:first-child {
	left: 2px;
}

.nl div:nth-child(2) {
	left: 34px;
}

.nl div:nth-child(3) {
	left: 66px;
}

.nl div:nth-child(4) {
	left: 98px;
}

.nl div:nth-child(5) {
	left: 130px;
}

.sa {
  background-image: url("http://www.instalaciones.com.pe/images/Estrella.gif");
  background-size: 100% 100%;
  position: absolute;
}
.nl div:last-child {
  position: absolute;
  top:75px;
  left: 50%;
  margin-left:-17.5px;
  text-align: center;
  font-size: 35px;
  font-weight: bold;
}

#consolas {
  opacity: 0;
}

#perifericos {
  opacity: 0;
}

#merchandising {
  opacity: 0;
}

#wr {
  opacity: 0;
  z-index: 50;
}

#wr iframe {
  position: absolute;
  left:50%;
  top: 680px;
  margin-left: -320px;
  border: 15px ridge grey;
}

#wr div {
  position: absolute;
  top: 600px;
  width: 100%;
  font-size: 35px;
  font-family: 'Lobster', cursive;
  text-align: center;
}

#cont {
  opacity: 0;
}

#iconos {
  width: 660px;
  height: 80px;
  margin-left: -330px;
  position: absolute;
  top: 650px;
  left: 50%;
}

#iconos > a {
  display:inline-block;
  margin-left: 50px;
  margin-right: 50px;
}

#iconos > a div {
  background-size:100% 100%;
  width: 60px;
  height: 60px;
}

#facebook {
  background-image:url("http://imagenes.es.sftcdn.net/es/scrn/118000/118150/facebook-42.png");
}

#twitter{
  background-image:url("https://g.twimg.com/Twitter_logo_blue.png");
}

#google {
  background-image:url("http://www.siliconnews.es/wp-content/uploads/2014/07/google+-logo.png");
}

#alu {
  background-image:url("http://icons.iconarchive.com/icons/marcus-roberto/google-play/512/Gmail-icon.png");
}
