@import url('https://fonts.googleapis.com/css?family=Orbitron');

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

#player {
    width: 500px;
    height: 200px;
    margin: auto;
    position: relative;
    top: 50%;
    margin-top: -100px;
    8background: radial-gradient(ellipse at center, rgba(239,197,202,1) 0%, rgba(186,39,55,1) 68%, rgba(186,39,55,1) 100%);
    border-radius: 25px;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: gray;
    box-shadow: 10px 10px 10px black;
}

#lcd {
    width: 80%;
    height: 70px;
    background-color: black;
    margin: auto;
    font-family: 'Orbitron', sans-serif;
    color: red;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    overflow-x: hidden;
    overflow-y: hidden;
    padding-top: 18px;
    box-sizing: border-box;
    border-radius: 25px;
}

#buttons {
    margin-top: 20px;
    width: 90%;
    margin-left: 5%;
}

button {
    width: 10%;
    height: 40px;
    background: radial-gradient(ellipse at center, rgba(248,80,50,1) 0%, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 31%, rgba(0,0,0,1) 100%);
    border: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

#volume {
    display: inline-block;
    width: 20%;
}

#progressbarbackground {
    width: 72%;
    height: 5px;
    background-color: darkblue;
    margin: auto;
    opacity: 0.5;
    position: relative;
    top: -5px;
    overflow: hidden;
}

#progressbar {
    height: 5px;
    background-color: red;
    max-width: 100%;
}

input[type='range'] {
  overflow: hidden;
  width: 80px;
  -webkit-appearance: none;
  background-color: darkgray;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #434343;
  box-shadow: -80px 0 0 80px red;
}

#menu {
    position: absolute;
    top: 5px;
    left: 5px;
    background: none;
    color: red;
    font-size: 25px;
	text-shadow:0px 1px 0px #2f6627;
}

#songlist {
    display: none;
    background-color: black;
    width: 80%;
    max-height: 80px;
    overflow-y: scroll;
    margin: auto;
    margin-top: 20px;
    color: red;
}

#songlist ul {
    list-style: none;
}
